<div class = "main-content">
    <div class="about-section">
        <h1> Drive teamwork. Empower your team.</h1>
        <p> taskMaster is a purposefully designed workflow management application 
            for student clubs and organizations. Designed to improve accountability 
            and facilitate collaboration, taskMaster will help your team reach new 
            heights.</p>
    </div>
</div>