<div class="header">
    <div class="header-left">
        <h1>
            <a href='/' class='home-link'>taskMaster</a>
            <% if (demo_id) { %>
                <span class="demo-id">Demo ID: <%= demo_id %></span>
            <% } %>
        </h1>
    </div>
    <div class="header-right">
        <% if (demo_id) { %>
            <a class="header-right-a" href="/organizations">Dashboard</a>
        <% } %>
        <% if (demo_id) { %>
            <a class="header-right-a" href="/organizations/join">Manage Organizations</a>
        <% } %>
        <a class="header-right-a" href="/contact">Contact</a>
        <% if (demo_id) { %>
            <div class ="profile-outline">Welcome, <strong><%= name %></strong>!</div>
            <a class="header-right-a" href="/logout">Logout</a>
        <% } %>
        <% if (!demo_id) { %>
            <a class = "button-base bubble-button green-bubble-button" href="/signup">Start Demo</a>
            <a class="header-right-a" href="/login"> Restart Demo</a>
        <% } %>
    </div>
</div>
