<div class="header">
    <div class="header-left">
        <h1><a href= '/' class='home-link'>taskMaster</a></h1>
    </div>
    <div class="header-right">
        <a href="/organization">Organizations</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/signup" class='green-bubble-button'>Get Started</a>
    </div>
</div>
