<div class="header">
    <div class="header-left">
        <h1><a href='/' class='home-link'>taskMaster</a></h1>
    </div>
    <div class="header-right">
        <% if (user) { %>
            <a href="/organizations">Dashboard</a>
        <% } %>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <% if (user) { %>
            <div>Welcome, <strong><%= user.name %></strong>!</div>
            <a href="/logout">Logout</a>
        <% } %>
        <% if (!user) {%>
        <a href="/signup" class='green-bubble-button'>Start Demo</a>
        <% } %>
    </div>
</div>
