<% if (flashMessages.success) { %>
    <div class="alert alert-success">
        <%= flashMessages.success %>
    </div>
<% } %>
<% if (flashMessages.error) { %>
    <div class="alert alert-danger">
        <%= flashMessages.error %>
    </div>
<% } %>

<div class="task-form-section">
    <h1>Create New Task</h1>
    <form action="/tasks/new" method="post">
        <!-- Placeholder for dynamically inserted organizations select -->
        <h3>Organization:</h3>
        <div id="organization-container">
            <!-- The organizations select will be inserted here by JavaScript -->
        </div>

        <div>
            <label for="name">Task Name:</label>
            <input type="text" id="name" name="name" maxlength="20" required>
        </div>

        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description" maxlength="100"></textarea>
        </div>

        <label>Assign to:</label>
        <div id="assign-to-container">
            
            <div id="users-checkboxes">
                <!-- JavaScript will populate checkboxes here -->
            </div>
        </div>

        <div>
            <label for="deadline">Deadline:</label>
            <input type="date" id="deadline" name="deadline" required>
        </div>

        <div>
            <label for="completed">Completed:</label>
            <input type="checkbox" id="completed" name="completed">
        </div>

        <button class="button-base submit-button">Create Task</button>
    </form>
</div>

<script src="/js/taskForm.js"></script>
