<div class = 'centered-section'>
    <h1>Contact Us</h1>
    <form action="/" method="post">
        <div>
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" maxlength="20" required>
        </div>

        <div>
            <label for="email">Email Address:</label>
            <input type="text" id="email" name="email" maxlength="25"></input>
        </div>

        <div>
            <label for="description">How can we help?:</label>
            <textarea id="description" name="description" rows="4" cols="50"></textarea>
        </div>

        <button class="button-base submit-button" type="submit">Submit</button>
    </form>
</div>