<main class="container">
    <div class="grid">
        <section>
            <hgroup>
                <h2>Welcome to taskMaster</h2>
                <h3 class = 'h3-landing'>Your Ultimate Task Management Tool</h3>
            </hgroup>
            <p>Try out taskMaster and discover that sometimes the simplest solutions are the best. 
                Our platform offers a wide range of features designed to enhance your productivity.
                We hope you will give the application a try!
            </p>
        </section>
    </div>
    <div class = 'organization-container'>
        <div class = 'organization-item'>Organization 1</div>
        <div class = 'organization-item'>Organization 2</div>
        <div class = 'organization-item'>Organization 3</div>
        <div class = 'organization-item'>Organization 4</div>
    </div>
    <script src = '/js/dynamic.js'></script>
</main>