<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <%- include('partials/header') %> <!-- Include header partial -->
    </header>

    <main>
        <!-- Main content will be added in specific view files -->
    </main>

    <footer>
        <%- include('partials/footer') %> <!-- Include footer partial -->
    </footer>
</body>
</html>
