<div class="centered-section">
    <h1>Log In</h1>
    <form action="/login" method="post">
        <div>
            <label for="id">Do you remember your session ID from last time?</label>
            <input type="text" id="id" name="id" maxlength="4" required>
        </div>

        <button class = "submit-button" type="submit">Restart Demo</button>
    </form>
</div>