<section>
    <h1>Log In</h1>
    <form action="/login" method="post">
        <div>
            <label for="id">Do you remember your session ID?</label>
            <input type="text" id="id" name="id" maxlength="4" required>
        </div>

        <button type="submit">Restart Demo</button>
        <section>

        </section>
    </form>
</section>