<div class="centered-section">
    <h1>Page Not Found</h1>
    <div>
        <p> We're sorry. We can't seem to locate the page you are looking for. If you think this is a bug, please
            provide feedback for our development team.
        </p>
    </div>
</div>