<section>
    <h1>Sign Up</h1>
    <form action="/signup" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" maxlength="20" required>
        </div>

        <div>
            <label for="email">Email:</label>
            <textarea type="text" id="email" name="email" maxlength="30"></textarea>
        </div>

        <div>
            <label for="password">Password:</label>
            <textarea type="text" id="password" name="password" maxlength="30"></textarea>
        </div>

        <button type="submit">Register</button>
    </form>
</section>