<div class = "centered-section">
    <h1>Try out taskMaster</h1>
    <form action="/signup" method="post">
        <div>
            <label for="name">What's your name?</label>
            <input type="text" id="name" name="name" maxlength="20" required>
        </div>

        <div>
            <p> Disclaimer: please only use this demo to explore the features of taskMaster. Do not store sensitive data
                in the application during your use of the platform. By continuing to use the site, you agree to these
                principles.
            </p>
        </div>


        <button class = "button-base submit-button" type="submit">Get Started!</button>
    </form>
</div>