/* Reset and Normalize */
/* Global styles, variables, mixins */

/* Header Styles */
/* Navigation Styles */
/* Main Content Styles */
/* Footer Styles */
/* Form Styles */
/* Button Styles */
/* Modal and Pop-up Styles */

/* Utility Classes */
/* Media Queries */


/*HEADERS */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    height: 40px;
}

.header-left h1 {
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px; /* This sets an equal gap between each item */

}

.header-right-a {
    text-decoration: none;
    color: black;
}

.header-right-a:hover {
    color: #077227;
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
}

.home-link {
    text-decoration: none;
    color: inherit;
}

.demo-id {
    font-size: 0.4em;
    margin-left: 10px;
    color: #666;
}

.dash-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.dashboard-header {
    font-size: 2.0em;
    background-color:  rgb(13, 104, 13);
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
    width: 30%;
    margin: 0 auto;
}



/* MAIN CONTENT */

body {
    font-family: Bitter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 98.25vh;
}

main {
    flex-grow: 1;
}

input[type="text"],

textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-text {
    text-align: justify;
}


/* SECTIONS */

section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
}

.welcome-section {
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;
}

/* This centers the text in the middle of the page. */
.centered-section {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    border: 2px solid green;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin: auto; /* Center horizontally */
    margin-top: 10vh; /* Center vertically on the page */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.centered-section:hover {
    border-color: darkgreen;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* ORGANIZATIONS */

.content {
    margin-left: 250px; /* Same as sidebar width */
    padding: 30px;
    flex-grow: 1; /* Add some padding */
}

.organization-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.organization-box {
    text-decoration: none;
    color: black;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: auto; /* Adjusted to auto for dynamic height */
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will push the details to the bottom */
}

.organization-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.organization-name {
    text-align: center;
    font-weight: 900;
    font-size: larger;
}

.organization-index-details {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.side-by-side-container {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping as a test */
    gap: 60px;
    padding: 20px;
    max-width: 880px;
    margin: auto;
    margin-top: 40px;
}

.side-by-side-section {
    font-size: 1.5em;
    background-color: #f2f2f2; /* Light grey background */
    border: 2px solid green; /* Green border */
    border-radius: 15px; /* Rounded corners */
    padding: 40px; /* Padding inside the sections */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    display: flex;
    flex-direction: column;
    text-align: center; /* Center text */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.section-link {
    text-decoration: none;
    color: black; /* Set the text color */
    display: flex;
    width: 100%; /* Ensure the link fills its container */
}

.section-link:hover .side-by-side-section{
    background-color: #e8e8e8; /* Change background color on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
    transform: scale(1.05); /* Slight scale effect */
    border-color: darkgreen; /* Darker green border on hover */
}

/* Overall layout styling for Organization View*/
.page-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; /* Adjust the space between the two sections */
    padding: 20px;
}

.organization-details {
    flex: 1; /* Allows the details section to grow but stay off-center */
    max-width: 20%; /* Adjust based on your preference */
    background-color: #f9f9f9; /* Light background for the details section */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    margin-right: auto; /* Pushes the section slightly off the left */
}


.details p {
    color: #666; /* Lighter text for paragraph */
    line-height: 1.6; /* Improved readability */
    margin-bottom: 8px; /* Space between paragraphs */
}
/* Example class for the tasks section */
.tasks-section {
    flex: 2; /* Takes more space than the details section */
    /* Additional styling for tasks section */
}


/* FORM */

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* FOOTER */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    height: 30px;
}



/* BUTTONS */

/* Base Button Style */
.button-base {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font: inherit;
    transition: background-color 0.3s;
}

/* Hover effect for all buttons */
.button-base:hover {
    background-color: #0056b3;
}

/* Additional specific styles for submit button */
.submit-button {
    font-weight: bold;
}

/* Additional specific styles for add button */
.add-button {
    display: inline-block;
    margin-top: 10px;
}

/* Bubble Button Base Style */
.bubble-button {
    padding: 10px 20px; /* Adjusted padding */
    border-radius: 25px; /* More rounded corners for a bubble effect */
    text-decoration: none; /* Generally, you'd want to remove text decoration for button-like links */
    transition: transform 0.1s; /* Keeping transform transition from your bubble-button class */
}

/* Green Bubble Button */
.green-bubble-button {
    background-color: rgb(13, 104, 13);
}

.green-bubble-button:hover,
.green-bubble-button:active {
    background-color: darkgreen;
}

/* Blue Bubble Button */
.blue-bubble-button {
    background-color: rgb(24, 24, 145);
}

.blue-bubble-button:hover,
.blue-bubble-button:active {
    background-color: rgb(4, 4, 60);
}

.grey-bubble-button {
    background-color: rgb(90, 90, 94);
    position: fixed;
    bottom: 80px;
    font-size: 1.75em;
}

.grey-bubble-button-left {
    left: 60px
}

.grey-bubble-button-right {
    right: 60px
}


/* TASKS */


.task-section {
    text-align: center;
    max-width: 95%;
    padding: 5px;
    border: 2px solid green;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin: auto; /* Center horizontally */
    margin-top: 1vh; 
    margin-bottom: 20px;/* Center vertically on the page */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.task-section:first-of-type {
    margin-top: 0vh;
}

.task-section:hover {
    border-color: darkgreen;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15)
}

.add-button {
    display: inline-block;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 20px auto; /* Center button */
    text-align: center;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

.task-list {
    list-style: none; /* Remove bullet points */
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff; /* Contrast with the container */
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
}

.task-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(.999);
}

.task-details {
    padding: 10px;
    border-top: 1px solid #ccc; /* Visual separation */
    background-color: #f0f0f0; /* Slightly different background */
}

.left-info, .right-info{
    flex-basis: 20%;
    text-align: center;
    padding: 0 10px;
}

.center-info {
    flex-grow: 1;
    text-align: center;
    padding: 0 10px
}

/* JS MODAL STYLES */

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Organization View */

.view-page-layout {
    display: flex;
    justify-content: space-between;
    padding: 10px; /* Adds some padding around the content */
    border: 1px solid #ccc; /* Optional: adds a border */
}

.organization-details-wrapper {
    flex: 1; /* Takes up 2 fractions of the available space, making it larger */
    border: 1px solid #ccc; /* Optional: adds a border */
    border-radius: 8px; /* Optional: rounds the corners */
    padding: 10px; /* Adds some padding inside the tasks section */
}

.organization-details-section {
    flex: 1; /* Takes up 1 fraction of the available space */
    margin-right: 40px; /* Adds some space between the sections */
    border: 1px solid #ccc; /* Optional: adds a border */
    border-radius: 8px; /* Optional: rounds the corners */
    text-align: left;
    padding: 10px;
    height: 95%;
    border: 2px solid green;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin: auto;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}  
    
    
.organization-details-section:hover {
    border-color: darkgreen;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15)
}

.tasks-section {
    flex: 3.5; /* Takes up 2 fractions of the available space, making it larger */
    overflow-y: auto; /* Enables vertical scrolling */
    max-height: 600px; /* Adjust based on your needs */
    border: 1px solid #ccc; /* Optional: adds a border */
    border-radius: 8px; /* Optional: rounds the corners */
    padding: 10px; /* Adds some padding inside the tasks section */
}
