<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
</head>
<body>
    <h1>Thank You for Trying Our Demo!</h1>
    <p> If you would like to return to your session later, please note down your Demo ID. If you forget your Demo ID,
        you can find next to the taskMaster logo in the top left.
    </p>
    <p><strong>Session ID:</strong> <%= demo_id %></p>
</body>
</html>
