<div class="centered-section">
    <h1>Thank You for Trying Our Demo!</h1>
    <p class = "justify-text"> If you would like to return to your session later, please note down your Demo ID. If you forget your Demo ID,
        you can find next to the taskMaster logo in the top left.
    </p>
    <p><strong>Session ID:</strong> <%= demo_id %></p>
    <p class = "justify-text"> As you try out this platform, please feel free to send feedback to through the Contact form which can be found
        in the header. In order to speed up your demo experience, we've added you to a number of sample organizations 
        which can be accessed through the Dashboard. From there, you'll be able to join new organizations, view the
        the tasks associated with each organization, and assign tasks to others. In order to ensure a clean user 
        experience, we have prevented this application from being interactive but can easily switch that a functionality
        on. We hope you enjoy your experience here at taskMaster!
    </p>
</div>
