<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Back!</title>
</head>
<body>
    <h1>Welcome Back!</h1>
    <p> If you would like to return to your session later, please note down your session ID.</p>
    <p><strong>Session ID:</strong> <%= demo_id %></p>
</body>
</html>
