<body>
    <header>
        <h2>Organization Dashboard</h2>
    </header>
    <main>
        <div class="organization-sidebar">
            <ul class="organization-list">
                <% organizations.forEach(function(organization) { %>
                    <li>
                        <a href="/organization/<%= organization.id %>">
                            <%= organization.name %>
                        </a>
                    </li>
                <% }); %>
            </ul>
        </div>
    </main>
</body>
