<body>
    <header>
        <h2>Organization Dashboard</h2>
    </header>
    <main>
        <div class="organization-container">
            <% organizations.forEach(function(organization) { %>
                <div class="organization-box">
                    <a href="/organization/<%= organization.id %>">
                        <%= organization.name %>
                    </a>
                </div>
            <% }); %>
        </div>
    </main>
</body>

